<div class="container-fluid p-4">
  <div class="table-responsive-lg">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>UUID</th>
        <th>Nome da empresa</th>
        <th>Localização</th>
        <th>Contacto</th>
        <th>Email</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
        <% data.forEach(elem => { %>
          <tr>
            <th scope="row"><%- elem.uuid_company %></th>
            <td><%- elem.name %></td>
            <td><%- elem.company_address %></td>
            <td><%- elem.company_telephone %></td>
            <td><%- elem.company_email %></td>
            <td>
                <button class="btn btn-danger" name="listButtonDelete" data-userValue="<%- elem.pk_uuid -%>" data-toggle="tooltip" 
                data-placement="bottom" title="Apagar">
                    <i class="fas fa-trash"></i>
                </button>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>

<script>
  $(function() {
    $(document).on('click', 'button[name="listButtonDelete"]', function() {
      const btn = $(this)
      const uuid = btn.attr('data-userValue')

      // prepare dialog
      const deleteModal = $(document).find('#modalDeleteDialog')

      // set secret uuid key
      $(document).find('#modalDeleteDialogSecret').val(uuid)

      // set modal's text
      deleteModal.find('div[class="modal-body"]').html(`Pretende realmente remover este utilizador?<br /><br /><strong>uuid:</strong> ${uuid}`)

      // call modal
      deleteModal.modal('show')
    })

    $(document).on('click', '#modalDeleteBtnConf', function() {
      const uuid = $(document).find('#modalDeleteDialogSecret').val()

      $.ajax({
          url: '/company',
          type: 'DELETE',
          data: { uuid },
          success: function(result) {
              if(result.ok) {
                location.reload()
              } else {
                alert('An error occurred!')
              }
          }
      })
    })
  })
</script>

<!-- Delete dialog  -->
<div class="modal fade" id="modalDeleteDialog" tabindex="-1" role="dialog" aria-labelledby="modalDeleteDialog" aria-hidden="true">
  <input type="hidden" id="modalDeleteDialogSecret" value="secret">
  <div class="modal-dialog modal-dialog-top" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Remoção de empresas parceiras</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Deseja realmente apagar esta empresa ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" id="modalDeleteBtnConf" class="btn" style="background-color: #E4D530">Confirmar operação</button>
      </div>
    </div>
  </div>
</div>