<div class="container-fluid p-4">
  <div class="table-responsive-lg">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>UUID</th>
        <th>Nome da empresa</th>
        <th>Localização</th>
        <th>Contacto</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
        <% data.forEach(elem => { %>
          <tr>
            <th scope="row"><%- elem.uuid_company %></th>
            <td><%- elem.name %></td>
            <td><%- elem.company_address %></td>
            <td><%- elem.company_telephone %></td>
            <td><%- elem.company_email %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>