<div class="container-fluid p-4">
  <div class="table-responsive-lg">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome do alerta</th>
        <th>Descrição do alerta</th>
        <th>Tipo de alerta</th>
        <th>Data de criação</th>
        <th>Data de validade</th>
        <th>Opções</th>
      </tr>
    </thead>
      <tbody>
        <% data.alerts.forEach(alert => { %>
          <tr>
            <th scope="row"><%- alert.uuid_alerts %></th>
            <td><%- alert.name_alerts %></td>
            <td><%- alert.alert_text %></td>
            <td><%- alert.type_of_alert_designation %></td>
            <td><%- alert.created_at.toISOString().split('T')[0] %></td>
            <td><%- alert.until_at.toISOString().split('T')[0] %></td>
            <td>
              <button class="btn btn-light" name="listButtonEdit" data-userValue="<%- alert.uuid_alerts -%>" data-toggle="tooltip" data-placement="bottom" title="Editar">
                  <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-danger" name="listButtonDelete" data-userValue="<%- alert.uuid_alerts -%>" data-toggle="tooltip" data-placement="bottom" title="Apagar">
                  <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>

<script>
  $(function() {
    
    $(document).on('click', 'button[name="listButtonDelete"]', function() {
      const btn = $(this)
      const uuid = btn.attr('data-userValue')

      // prepare dialog
      const deleteModal = $(document).find('#modalDeleteDialog')

      // set secret uuid key
      $(document).find('#modalDeleteDialogSecret').val(uuid)

      // set modal's text
      deleteModal.find('div[class="modal-body"]').html(`Pretende realmente remover este alerta?<br /><br /><strong>uuid:</strong> ${uuid}`)

      // call modal
      deleteModal.modal('show')
    })
    
    $(document).on('click', '#modalDeleteBtnConf', function() {
      const uuid = $(document).find('#modalDeleteDialogSecret').val()

      $.ajax({
          url: '/alert',
          type: 'DELETE',
          data: { uuid },
          success: function(result) {
              if(result.ok) {
                location.reload()
              } else {
                alert('An error occurred!')
              }
          }
      })
    })

    
    $(document).on('click', 'button[name="listButtonEdit"]', function() {
      const btn = $(this)
      const uuid = btn.attr('data-userValue')
      
      // prepare dialog
      const editModal = $(document).find('#modalEditDialog')

      // set secret uuid key
      $(document).find('#modalEditDialogSecret').val(uuid)

      // load data
      const form = editModal.find('form')

      const alertName = form.find('input[name="alertName"]')
      const alertDesc = form.find('textarea[name="alertDesc"]')
      const alertTypesUsers = form.find('select[name="alertTypesUsers"]')
      const alertTypesAlerts = form.find('select[name="alertTypesAlerts"]')

      alertTypesUsers.empty()
      alertTypesAlerts.empty()

      $.ajax({
        url: '/alert',
        data: { uuid },
        method: "GET",
        success: function(alerts) {

          const data = alerts.response[0]

          alertName.val(data.name_alerts)
          alertDesc.val(data.alert_text)

          // load alert types select
          $.ajax({
            url: '/alert/type',
            method: 'GET',
            success: function(types) {

              console.log(types)

              types.forEach(elem => {
                if (elem.uuid_type_of_alert == data.Type_Of_Alert_uuid_type_of_alert)
                  alertTypesAlerts.append(`<option value="${elem.uuid_type_of_alert}" selected>${elem.type_of_alert_designation}</option>`)
                else
                  alertTypesAlerts.append(`<option value="${elem.uuid_type_of_alert}">${elem.type_of_alert_designation}</option>`)
              })
            }
          })

          // load users types in alert
          $.ajax({
            url: '/user/type',
            method: 'GET',
            success: function(types) {

              $.ajax({
                url: '/alert/user/type',
                data: { uuid },
                method: 'GET',
                success: function(alertUserTypes) {
                  let optgroupHTML = '<optgroup label="Tipos de Utilizador">'

                  types.forEach(type => {
                      let wasInserted = false
                      
                      alertUserTypes.forEach(elem => {
                        console.log(elem.Type_Of_User_uuid_type_of_users == type.uuid_type_of_users)
                        
                        if (elem.Type_Of_User_uuid_type_of_users == type.uuid_type_of_users) {
                          
                          wasInserted = true
                          optgroupHTML += `<option value="${type.uuid_type_of_users}" selected>${type.type}</option>`

                        }
                      })
                          
                      if (!wasInserted) {
                        optgroupHTML +=  `<option value="${type.uuid_type_of_users}">${type.type}</option>`
                      }
                  })
                  
                  // insert optgroupt
                  optgroupHTML += `</optgroup>`
                  alertTypesUsers.append(optgroupHTML)
                
                  // refresh selectpicker
                  $(alertTypesUsers).selectpicker("refresh");
                }

              })
            }
          })

          editModal.modal('show')
        }
      })
    })

    $(document).on('click', '#modalEditBtnConf', function() {
    
      // get editModal
      const editModal = $(document).find('#modalEditDialog')

      // load data
      const form = editModal.find('form')

      const secretUUIDToUpdate = $(document).find('#modalEditDialogSecret').val()
      const alertName = form.find('input[name="alertName"]').val()
      const alertDesc = form.find('textarea[name="alertDesc"]').val()
      const alertTypesUsers = form.find('select[name="alertTypesUsers"]').val()
      const alertTypesAlerts = form.find('select[name="alertTypesAlerts"]').val()

      console.log(secretUUIDToUpdate)
      console.log(alertName, alertDesc, alertTypesUsers, alertTypesAlerts)

      $.ajax({
        url: '/alert',
        method: 'POST',
        data: { secretUUIDToUpdate, alertName, alertDesc, alertTypesUsers, alertTypesAlerts },
        success: function(result) {
          if (result.ok == true) {
            location.reload()
          } else {
            alert('An error occurred!')
          }
        }
      })
    })

  })
</script>

<!-- Modals  -->

<!-- Delete dialog  -->
<div class="modal fade" id="modalDeleteDialog" tabindex="-1" role="dialog" aria-labelledby="modalDeleteDialog" aria-hidden="true">
  <input type="hidden" id="modalDeleteDialogSecret" value="secret">
  <div class="modal-dialog modal-dialog-top" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Remoção de alerta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Deseja realmente apagar o alerta ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" id="modalDeleteBtnConf" class="btn" style="background-color: #E4D530">Confirmar operação</button>
      </div>
    </div>
  </div>
</div>

<!-- Modals  -->

<!-- Edit dialog  -->

<div class="modal fade" id="modalEditDialog" tabindex="-1" role="dialog" aria-labelledby="modalEditDialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edição de dados</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="background-color: #F8F9FA">
        <form method="POST" action="">
          <input type="hidden" name="secretUUIDToUpdate" id="modalEditDialogSecret" value="secret">
          <div class="form-group">
              <label for="exampleInputEmail1">Nome do alerta</label>
              <input type="text" class="form-control" name="alertName" id="exampleInputFullName" aria-describedby="emailHelp" placeholder="Nome do alerta" required>
          </div>
          <div class="form-group">
              <label for="alertDesc">Descrição do alerta</label>
              <textarea class="form-control" name="alertDesc" rows="3" placeholder="Descrição do alerta" required></textarea>
          </div>
          <div class="form-group">
              <label for="type">Alerta visível para</label>
              <select name="alertTypesUsers" class="selectpicker show-tick form-control border" multiple required>
              </select>
          </div>
          <div class="form-group">
              <label for="type">Tipo de alertas</label>
              <select name="alertTypesAlerts" class="form-control border" required>
              </select>
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" id="modalEditBtnConf" class="btn text-white" style="background-color: #E4D530">Confirmar operação</button>
      </div>
    </div>
  </div>
</div>