<div class="container-fluid p-4">
  <div class="table-responsive-lg">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>UUID</th>
        <th>Identificador da sala</th>
        <th>Nome da sala</th>
        <th>Data de criação</th>
        <th>Data de última atualização</th>
        <th>Data de validade</th>
        <th>Descrição</th>
        <th>Ficheiro pdf</th>
        <th>Status da sala</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
        <% data.forEach(elem => { %>
          <th scope="row"><%- elem.uuid_room %></th>
          <td><%- elem.room_code %></td>
          <td><%- elem.name_room %></td>
          <td><%- elem.created_at %></td>
          <td><%- elem.updated_at %></td>
          <td><%- elem.until_at %></td>
          <td><%- elem.description %></td>
          <td>
            <a class="btn btn-light" href="/public/files/<%- elem.designation %>" download>
              <span class="fas fa-download">Descarregar</span> 
            </a>
          </td>
          <td><%- elem.ticket_option_designation %></td>
          <td>
            <button class="btn btn-light" data-toggle="tooltip" 
            data-placement="bottom" title="Editar">
                <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-danger" data-toggle="tooltip" 
            data-placement="bottom" title="Desativar">
                <i class="fas fa-lock"></i>
            </button>
          </td>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>