<div class="container-fluid p-4">
  <div class="table-responsive-lg">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>UUID</th>
        <th>Identificador da sala</th>
        <th>Nome da sala</th>
        <th>Data de criação</th>
        <th>Data de última atualização</th>
        <th>Data de validade</th>
        <th>Descrição</th>
        <th>Ficheiro pdf</th>
        <th>Status da sala</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
        <% data.forEach(elem => { %>
        <tr>
          <th scope="row"><%- elem.uuid_room %></th>
          <td><%- elem.room_code %></td>
          <td><%- elem.name_room %></td>
          <td><%- elem.created_at %></td>
          <td><%- elem.updated_at %></td>
          <td><%- elem.until_at %></td>
          <td><%- elem.description %></td>
          <td>
            <a class="btn btn-light" href="/public/files/<%- elem.designation %>" download>
              <i class="fas fa-download"></i>Descarregar ficheiro
            </a>
          </td>
          <td><%- elem.ticket_option_designation %></td>
          <td>
            <button class="btn btn-light" name="listButtonEdit" data-userValue="<%- elem.uuid_room -%>" data-toggle="tooltip" 
            data-placement="bottom" title="Editar">
                <i class="fas fa-edit"></i>
            </button>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>


<script>
  $(function() {
    
    $(document).on('click', 'button[name="listButtonEdit"]', function() {
      const btn = $(this)
      const uuid = btn.attr('data-userValue')
      
      // prepare dialog
      const editModal = $(document).find('#modalEditDialog')

      // set secret uuid key
      $(document).find('#modalEditDialogSecret').val(uuid)

      // load data
      const form = editModal.find('form')

      $(editModal).modal('show')
    })
  })
</script>

<!-- Modals  -->

<!-- Edit dialog  -->

<div class="modal fade" id="modalEditDialog" tabindex="-1" role="dialog" aria-labelledby="modalEditDialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edição de dados</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="background-color: #F8F9FA">
        <form method="POST" action="">
          <input type="hidden" name="secretUUIDToUpdate" id="modalEditDialogSecret" value="secret">
          <div class="form-group col-12">
              <label for="status">Status da sala</label>
              <select name="status" class="custom-select">
              </select>
          </div>
          <div class="form-group col-lg-12">
            <label for="nameRoom">Nome da sala</label>
            <input
                type="text" 
                name="nameRoom"
                class="form-control" 
                aria-describedby="nameRoom" 
                placeholder="Nome da sala" required>
          </div>
          <div class="form-group col-lg-12">
            <label for="untilAt">Data de validade</label>
            <input
                type="date" 
                name="untilAt"
                class="form-control" 
                aria-describedby="untilAt" 
                placeholder="Data de validade" required>
          </div>
          <div class="form-group col-lg-12">
            <label for="description">Descrição</label>
            <input
                type="date" 
                name="description"
                class="form-control" 
                aria-describedby="description" 
                placeholder="Descrição" required>
          </div>
          <div class="form-group col-lg-12">
            <label for="description">Descrição</label>
            <input
                type="date" 
                name="description"
                class="form-control" 
                aria-describedby="description" 
                placeholder="Descrição" required>
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" id="modalEditBtnConf" class="btn text-white" style="background-color: #E4D530">Confirmar operação</button>
      </div>
    </div>
  </div>
</div>