<div class="container-fluid p-4">
    <div class="dashboard-forms-rooms">
        <h2>
                Registar nova sala 
                <i class="fas fa-comments ml-2 fa-1x"></i>
        </h2>
        <form class="border shadow-sm" method="POST" action="/dashboard/room/new" enctype="multipart/form-data">
            <div class="form-group">
                <label for="nameRoom">Nome da sala</label>
                <input type="text" class="form-control" name="nameRoom" placeholder="Nome da sala" required>
            </div>
            <div class="form-group">
                <label for="description">Descrição da sala</label>
                <textarea class="form-control" name="description" rows="3" placeholder="Descrição da sala" required></textarea>
            </div>
            <div class="form-group">
                <label for="roomCode">Identificador da sala</label>
                <input type="text" class="form-control" name="roomCode" value="<%- data.token %>" required readonly>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-6">
                    <label for="datasheet">Ficha de dados</label>
                    <select name="datasheet" class="selectpicker show-tick form-control border" data-live-search="true">>
                        <optgroup label="Fichas técnicas inseridas">
                            <% data.datasheets.forEach(elem => { %>
                                <option value="<%- elem.uuid_datasheet %>"><%- elem.designation %></option>
                            <% }) %>
                        </optgroup>
                    </select>
                </div>
                <div class="col-lg-6">
                    <label for="newFile">Adicionar um novo ficheiro</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="newFile" style="cursor: pointer" accept="application/pdf">
                        <label class="custom-file-label" for="newFile">Escolher um ficheiro</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="members">Membros do grupo</label>
                <select name="members" class="selectpicker show-tick form-control border" data-live-search="true" data-header="Adicionar membros ao grupo" required multiple>
                    <% data.types.forEach(elem => { %>
                        <optgroup label="<%- elem.Type %>">
                            <% data.members.forEach(member => { %>
                                <% if (elem.Type === member.type) {%>
                                    <option data-icon="fa fa-user-tie mr-1" data-subtext="<%- member.name || 'Cliente' %>" value="<%- member.pk_uuid %>"><strong><%- member.fullname %></option>
                                <% } %>
                            <% }) %>
                        </optgroup>
                    <% }) %>
                </select>
            </div>
            <div class="form-group">
                <label for="untilAt">Data de validade do grupo</label>
                <input type="date" class="form-control" name="untilAt" placeholder="Nome da sala">
            </div>
            <button type="submit" class="btn btn-block">Registar</button>
        </form>
    </div>
</div>  