<div class="container-fluid p-4">
  <div class="table-responsive-lg">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Nome de utilizador</th>
        <th>E-mail</th>
        <th>Cartão de cidadão</th>
        <th>Empresa</th>
        <th>Tipo de utilizador</th>
        <th>Data de criação</th>
        <th>Data da ultima atualização</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
        <% data.forEach(elem => { %>
          <tr>
            <th scope="row"><%- elem.pk_uuid %></th>
            <td><%- elem.fullname %></td>
            <td><%- elem.nickname %></td>
            <td><%- elem.email %></td>
            <td><%- elem.citizencard %></td>
            <td><%- elem.name %></td>
            <td><%- elem.type %></td>
            <td><%- elem.created_at %></td>
            <td><%- elem.update_at %></td>
            <td>
              <button class="btn btn-light" name="listButtonEdit" data-userValue="<%- elem.pk_uuid -%>" data-toggle="tooltip" 
              data-placement="bottom" title="Editar">
                  <i class="fas fa-edit"></i>
              </button>
              <% if(userLogged.pk_uuid !== elem.pk_uuid && 
                ((userLogged.type == 'Técnico' && elem.type == 'Cliente') || (userLogged.type == 'Administrador'))
                ) { %>
                <button class="btn btn-danger" name="listButtonDelete" data-userValue="<%- elem.pk_uuid -%>" data-toggle="tooltip" 
                data-placement="bottom" title="Apagar">
                    <i class="fas fa-trash"></i>
                </button>
              <% } %>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>

<script>
  $(function() {
    $(document).on('click', 'button[name="listButtonDelete"]', function() {
      const btn = $(this)
      const uuid = btn.attr('data-userValue')

      // prepare dialog
      const deleteModal = $(document).find('#modalDeleteDialog')

      // set secret uuid key
      $(document).find('#modalDeleteDialogSecret').val(uuid)

      // set modal's text
      deleteModal.find('div[class="modal-body"]').html(`Pretende realmente remover este utilizador?<br /><br /><strong>uuid:</strong> ${uuid}`)

      // call modal
      deleteModal.modal('show')
    })

    $(document).on('click', 'button[name="listButtonEdit"]', function() {
      const btn = $(this)
      const uuid = btn.attr('data-userValue')

      // prepare dialog
      const editModal = $(document).find('#modalEditDialog')

      // set secret uuid key
      $(document).find('#modalEditDialogSecret').val(uuid)

      // load data
      const form = editModal.find('form')

      const types = form.find('select[name="type"]')
      const fullname = form.find('input[name="fullname"]')
      const address = form.find('input[name="address"]')
      const email = form.find('input[name="email"]')
      const contacto = form.find('input[name="contacto"]')
      const cc = form.find('input[name="cc"]')
      const password = form.find('input[name="password"]')

      // loading tdata
      $.ajax({
        url: '/user',
        type: 'GET',
        data: { uuid },
        success: function(user) {
          const { Type_Of_User_uuid_type_of_users: typeUser } = user[0]

          // select
          $.ajax({
            url: '/user/type',
            method: 'GET',
            data: {},
            success: function(allTypes) {
              allTypes.forEach(elem => {
                if(elem.uuid_type_of_users === typeUser)
                  types.append(`<option value="${elem.uuid_type_of_users}" selected>${elem.type}</option>`)
                else
                  types.append(`<option value="${elem.uuid_type_of_users}">${elem.type}</option>`)
              })

// inputs
fullname.val("123")
            }
          })
        }
      })

      // call modal
      editModal.modal('show')
    })


    $(document).on('click', '#modalDeleteBtnConf', function() {
      const uuid = $(document).find('#modalDeleteDialogSecret').val()

      $.ajax({
          url: '/user',
          type: 'DELETE',
          data: { uuid },
          success: function(result) {
              if(result.ok) {
                location.reload()
              } else {
                alert('An error occurred!')
              }
          }
      });

    })

    $(document).on('click', '#modalEditBtnConf', function() {
    })
  })
</script>

<!-- Modals  -->

<!-- Delete dialog  -->
<div class="modal fade" id="modalDeleteDialog" tabindex="-1" role="dialog" aria-labelledby="modalDeleteDialog" aria-hidden="true">
  <input type="hidden" id="modalDeleteDialogSecret" value="secret">
  <div class="modal-dialog modal-dialog-top" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Remoção de utilizador</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Deseja realmente apagar o utilizador ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" id="modalDeleteBtnConf" class="btn" style="background-color: #E4D530">Confirmar operação</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit dialog  -->

<div class="modal fade" id="modalEditDialog" tabindex="-1" role="dialog" aria-labelledby="modalEditDialog" aria-hidden="true">
  <input type="hidden" id="modalEditDialogSecret" value="secret">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edição de dados</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="background-color: #F8F9FA">
        <form>
          <div class="form-group col-12">
              <label for="type">Tipo de utilizador</label>
              <select name="type" class="custom-select">
              </select>
          </div>
          <div class="form-group col-lg-12">
            <label class="" for="exampleInputName1">Nome completo</label>
            <input
                value=""
                type="text" 
                name="fullname"
                class="form-control" 
                aria-describedby="emailHelp" 
                placeholder="Nome completo">
          </div>
          <div class="form-group col-lg-12">
            <label class="" for="exampleInputName1">Local de residência</label>
            <input
                value=""
                type="text" 
                name="address"
                class="form-control" 
                aria-describedby="emailHelp" 
                placeholder="Localidade">
          </div>
          <div class="form-group col-lg-12">
            <label for="exampleInputEmail1">E-mail</label>
            <input 
                value=""
                type="email" 
                class="form-control" 
                name="email" 
                placeholder="E-mail">
          </div>
          <div class="form-group col-lg-9">
            <label for="exampleInputTel1">Telemóvel</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <select id="disabledSelect" class="form-control input-group-text">
                  <option>+351</option>
                </select>
              </div>
              <input
                  value="" 
                  type="tel" 
                  class="form-control" 
                  name="contacto" 
                  placeholder="Telemóvel">
            </div> 
          </div>
          <div class="form-group col-lg-12">
            <label for="exampleInputCC1">Cartão de cidadão</label>
            <input 
                value="" 
                type="text" 
                class="form-control" 
                name="cc" 
                placeholder="Cartão de cidadão">
          </div>
          <div class="form-group col-lg-12">
            <label for="exampleInputPassword1">Redefinir palavra-passe</label>
            <input 
                type="password" 
                class="form-control" 
                name="password" 
                placeholder="Palavra-passe">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" id="modalEditBtnConf" class="btn" style="background-color: #E4D530">Confirmar operação</button>
      </div>
    </div>
  </div>
</div>