<div class="container-fluid p-4">
  <div class="table-responsive-lg">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Nome de utilizador</th>
        <th>E-mail</th>
        <th>Cartão de cidadão</th>
        <th>Data de criação</th>
        <th>Data da ultima atualização</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
        <% data.forEach(elem => { %>
          <tr>
            <th scope="row"><%- elem.pk_uuid %></th>
            <td><%- elem.fullname %></td>
            <td><%- elem.nickname %></td>
            <td><%- elem.email %></td>
            <td><%- elem.citizencard %></td>
            <td><%- elem.created_at %></td>
            <td><%- new Date(elem.update_at) %></td>
            <td>
              <button class="btn btn-light" data-toggle="tooltip" 
              data-placement="bottom" title="Editar">
                  <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-danger" data-toggle="tooltip" 
              data-placement="bottom" title="Apagar">
                  <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>