<div class="login">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 d-flex justify-content-center">
                <div class="row text-center title">
                    <div class="col-md-12">
                            <img src="/images/logo-syncready-vector-shadow.png" alt="SyncReady logo" class="img-fluid">
                            <p class="h1">SyncReady</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-8">
                <form class="login-form shadow" method="POST" action="/validateRegister">

                    <% if(!!errors && errors !== {}) { %>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Holy guacamole!</strong> Veja os erros abaixo
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    <% } %>

                    <div class="form-group col-lg-12">
                        <label class="" for="exampleInputName1">Nome completo</label>
                        <input
                            value="<% if(!!predata.fullname) { %><%- predata.fullname %><% } %>"
                            type="text" 
                            name="fullname"
                            class="form-control <% if(!!errors.fullname) { %> is-invalid <% } %>" 
                            aria-describedby="emailHelp" 
                            placeholder="Nome completo">
                    </div>
                    <div class="form-group col-lg-12">
                        <label for="exampleInputEmail1">E-mail</label>
                        <input 
                            value="<% if(!!predata.email) { %><%- predata.email %><% } %>"
                            type="email" 
                            class="form-control <% if(!!errors.email) { %> is-invalid <% } %>" 
                            name="email" 
                            placeholder="E-mail">
                    </div>
                    <div class="form-group col-lg-9">
                        <label for="exampleInputTel1">Telemóvel</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                              <select id="disabledSelect" class="form-control input-group-text">
                                <option>+351</option>
                              </select>
                            </div>
                            <input
                                value="<% if(!!predata.contacto) { %><%- predata.contacto %><% } %>" 
                                type="tel" 
                                class="form-control <% if(!!errors.contacto) { %> is-invalid <% } %>" 
                                name="contacto" 
                                placeholder="Telemóvel">
                        </div> 
                    </div>
                    <div class="form-group col-lg-12">
                        <label for="exampleInputCC1">Cartão de cidadão</label>
                        <input 
                            value="<% if(!!predata.cc) { %><%- predata.cc %><% } %>" 
                            type="text" 
                            class="form-control <% if(!!errors.cc) { %> is-invalid <% } %>" 
                            name="cc" 
                            placeholder="Cartão de cidadão">
                    </div>
                    <div class="form-group col-lg-12">
                        <label for="exampleInputUsername1">Nome de utilizador</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroupPrepend">@</span>
                            </div>
                        <input
                            value="<% if(!!predata.username) { %><%- predata.username.trim() %><% } %>"  
                            type="text" 
                            class="form-control <% if(!!errors.username) { %> is-invalid <% } %>" 
                            name="username" 
                            placeholder="Nome de utilizador">
                    </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <label for="exampleInputPassword1">Palavra-passe</label>
                        <input 
                            type="password" 
                            class="form-control <% if(!!errors.password) { %> is-invalid <% } %>" 
                            name="password" 
                            placeholder="Palavra-passe">
                    </div>
                    <div class="form-group col-lg-12">
                        <label for="exampleInputConfirm1">Confirmar palavra-passe</label>
                        <input 
                            type="password" 
                            class="form-control <% if(!!errors.repeatpassword) { %> is-invalid <% } %>" 
                            name="repeatpassword" 
                            placeholder="Confirmar palavra-passe">
                    </div>
                    <button type="submit" class="btn-registar btn btn-block shadow-sm mt-4">Registar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<footer class="login-footer shadow">
    <strong>&copy; SyncReady</strong> - 2019 - todos os direitos reservados
</footer>